# Lấy từ: Supabase Dashboard → Project Settings → Database → Connection string → URI
# Dùng "Transaction pooler" (port 6543) nếu deploy serverless, hoặc "Direct" (port 5432)
DATABASE_URL=postgresql://postgres:[Khong@mothaiba]@db.rubhzwzgktuzstuqmcey.supabase.co:5432/postgres

# Cổng server
PORT=5432
